# Database Connection
DATABASE_URL="postgresql://user:password@localhost:5432/zorvyn_fintech?schema=public"

# Server Configuration
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET="your_super_secret_key_here"
JWT_EXPIRES_IN="24h"
